<div class="wideRow">
    <label for="title"  class="itemNarrow">Title:</label>
    <input type="text" class="itemWide" id="title" name="title" value="<%= post.title %>" placeholder="Title" autocomplete="off"/>
</div>


<div class="wideRow">
    <label for="body"  class="itemNarrow">Body:</label>
    <textarea type="text" class="itemWide" id="body" name="body" value="<%= post.body %>" placeholder="Body" autocomplete="off"></textarea>
</div>

<div>

<label for="image">Attach file (Max size 2MB):</label>
<input type="file" id="image" name="image"/>

</div>


<input type="submit" name="enviar" id="enviar" value="Save">



<a href="/posts" class="button">Cancel</a>