
<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <header class="main" id="mainHeader">
        <hi>Welcome to My Blog </hi>
      </header>
      <nav>
        <button> <a href="/">Home</a></button>
        <button> <a href="/author">Autor</a></button>
        <button><a href="/posts">Posts</a></button>
         
      </nav>
   
  <%- body %>
  <footer>
      <hr>
      <small>CORE 2021-2022</small>
      <hr> 
  </footer>
</body>
</html>